// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$gris: rgba(69, 72, 81, 1);
$mauve: rgba(185, 142, 167, 1);
$rose: rgba(219, 177, 188, 1);
$sable: rgba(219, 211, 201, 1);
$bleu: rgba(154, 173, 191, 1);
$mauve2: #937285;
