// HOMEPAGE SCSS //
body {
  background-color: black;
}

.row-black {
 background-color: black;
}
// Banner Style //
.banner {
  background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 20%, rgba(12, 15, 15, 0.7) 70%); background: url('living-room.jpg');
  color: white;
  text-align: center;
  height: calc(105vh - 30px) !important;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
   background-size: cover !important;
   display: flex;
   align-items: center;
   justify-content: center;
   background-position: center;
    //added effects for banner parallax
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-parallax-1 {
    /* if you have a 70px navbar => height: calc(100vh - 70px); */
    background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 20%, rgba(12, 15, 15, 0.7) 70%); background: url('sunset-clouds.jpg');
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
     //added effects for banner parallax
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}
.banner-parallax-2 {
    /* if you have a 70px navbar => height: calc(100vh - 70px); */
    background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 20%, rgba(12, 15, 15, 0.7) 70%); background: url('crabe.jpg');
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
     //added effects for banner parallax
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}
.banner-parallax-3 {
    /* if you have a 70px navbar => height: calc(100vh - 70px); */
    background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 20%, rgba(12, 15, 15, 0.7) 70%); background: url('beach-palmtrees.jpg');
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
     //added effects for banner parallax
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.banner-parallax {

  color: white;
  text-align: center;
  height: 80vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
   // background-size: cover !important;
   // display: flex;
   // align-items: center;
   // justify-content: center;
   // background-position: center;
   //  //added effects for banner parallax
   // background-attachment: fixed;
   // background-position: center;
   // background-repeat: no-repeat;
   // background-size: cover;
}
//** REPERES COULEURS SUR LES DIV **//
#the-parallax-one {
  background-color: darkgrey;
  height: 30vh;
}

#the-parallax-two {
  background-color: aliceblue;
  height: 30vh;
}

#the-number-four {
  background: rgba(280, 280, 280, 0.8);
  img {
    max-width: 100%;
  }
}
.picture {
   img {
  border-radius: 5px;
  border: solid 2px pink;
  opacity: 0.95;
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  }
  img:hover {
    opacity: 0;
       transition-delay: 0.3s;
  }
}

.picture-text {
  margin-top: 15px;
  color: pink;
  position: relative;
  opacity: 1;
}
.picture-text h4 {
  position: absolute;
  top: 10px;
  left: 35px;
  }

 .picture-text p {
  position: absolute;
  top: 40px;
  left: 35px;
  }

.picture-text:hover {
  background-color: white;
  opacity: 1;
   transition-delay: 0.3s;
   border-radius: 5px;
  border: solid 2px pink;
}

.texte-sandrine {
  padding: 15px;
}

#my-name-is {
  background-color: rgba(280, 280, 280, 0.8);
}

#the-why {

  position: relative;
}
// Img id # second-floor //

#the-number-four img {
  max-width: 100%;
}

//** A BOUGER, VARIABLES BOOTSTRAP **//

.why {
   background: darksalmon;
   padding: 8px;
   border-radius: 5px;
   margin: 5px;
}

.no-padding {
    padding: 0 !important;
}



#my-row {
    display: table;
    height:20%;
    width: 100%;
    margin: 0;
}

.description {
  background-color: pink;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}


