// HOMEPAGE SCSS //

// Banner Style //
.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px) !important;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  // background-size: cover !important;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // background-position: center;
  // // added effects for banner parallax
  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
}

//** REPERES COULEURS SUR LES DIV **//
#the-parallax-one {
  background-color: darkgrey;
}

#the-parallax-two {
  background-color: aliceblue;
}

#the-number-four {
  background: cornflowerblue;
  img {
    max-width: 100%;
  }
}

#the-number-six {

}

#the-why {

}
// Img id # second-floor //

// #the-number-four img {
//   max-width: 100%;
// }

//** A BOUGER, VARIABLES BOOTSTRAP **//

.no-padding {
    padding: 0 !important;
}

#my-row {
    display: table;
    height:20%;
    width: 100%;
    margin: 0;
}

// .types img {
//   width: 100%;
//   height: 100%;
// }

// .num3 {
//   background-color: yellow;
// }
// .num4 {
//   background-color: grey;
// }
// .num5 {
//   background-color: grey;
// }

// .num6 {
//   background-color: blue;
// }
