// HOMEPAGE SCSS //
body {
  background-color: black;
}
.menu-bar-fix {
  position: fixed;
  top: 21px;
  right: 50px;
  color: white;
  opacity: 0.7;
}

// Banner Style //
.banner {
  // background-image: ;
  background: linear-gradient(-225deg, rgba(187, 175, 199, 0.49) 20%, rgba(15, 12, 15, 0.05) 50%), image-url('banner2.jpg');
  color: white;
  text-align: center;
  height: calc(105vh - 30px) !important;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
    //added effects for banner parallax
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner-content a {
    position: relative;
    top: 60px;

  }

  .btn-info {
    background-color: transparent !important;
    border: $rose !important;
  }
  .btn-info:hover {
    background-color: $rose !important;
    border: $mauve !important;
  }

  .btn-primary {
    background-color: $bleu !important;
    border: $rose !important;
  }
  .btn-primary:hover {
    background-color: $mauve !important;
    border: $rose !important;
  }

  .btn-success {
    background-color: $mauve !important;
    border: $rose !important;
  }
  .btn-success:hover {
    background-color: $rose !important;
    border: $mauve !important;
  }


  .row-black {
 // background-color: black;
 // height: 1vh;
}
.banner-parallax-1 {
    /* if you have a 70px navbar => height: calc(100vh - 70px); */

    background-image: linear-gradient(-225deg, rgba(211, 193, 228, 0.18) 20%, rgba(73, 90, 90, 0.55) 70%), image-url('welcome.jpg');    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
     //added effects for banner parallax
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;

   }
   .banner-parallax-2 {
    /* if you have a 70px navbar => height: calc(100vh - 70px); */
    background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.8) 20%, rgba(15, 15, 15, 0.7) 70%), image-url('crabe.jpg');
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
     //added effects for banner parallax
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     color: white;
   }
   .banner-parallax-3 {
    /* if you have a 70px navbar => height: calc(100vh - 70px); */
    background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 20%, rgba(12, 15, 15, 0.7) 70%), image-url('crabe.jpg');
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
     //added effects for banner parallax
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     color: white;
   }

   .banner-parallax {

    color: white;
    text-align: center;
    height: 80vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
   // background-size: cover !important;
   // display: flex;
   // align-items: center;
   // justify-content: center;
   // background-position: center;
   //  //added effects for banner parallax
   // background-attachment: fixed;
   // background-position: center;
   // background-repeat: no-repeat;
   // background-size: cover;
 }
//** REPERES COULEURS SUR LES DIV **//
#the-parallax-one {
  background-color: darkgrey;
  height: 30vh;
}

#the-parallax-two {
  background-color: aliceblue;
  height: 30vh;
}

#the-number-four {
  background: rgba(280, 280, 280, 0.8);
  min-height: 100%;
  img {
    max-width: 100%;
  }
}
.picture {
 img {
  border-radius: 5px;
  // border: solid 2px pink;
  opacity: 0.95;
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
img:hover {
  opacity: 0;
  transition-delay: 0.3s;
}
}

.picture-text {
  margin-top: 15px;
  color: pink;
  position: relative;
  opacity: 1;
}
.picture-text h4 {
  position: absolute;
  top: 10px;
  left: 35px;
}

.picture-text p {
  position: absolute;
  top: 40px;
  left: 35px;
}

.picture-text:hover {
  background-color: transparent;
  opacity: 1;
  transition-delay: 0.3s;
  border-radius: 5px;
  // border: solid 2px pink;
}


.texte-sandrine {
  padding-top: 25px;
  padding-right: 45px;
  padding-left: 25px;
  padding-bottom: 45px;
  color: white;
  position: relative;

  // background-color: white;
  // border-radius: 10px;
  // box-shadow: 3px 3px 2px #888888;
  // opacity: 0.9;
}

.texte-sandrine:hover {
  // background-color: pink;
  color: pink;
  // border-radius: 10px;
  // box-shadow: 3px 3px 2px #888888;
  // opacity: 0.9;
}
// texte sandrine et cadre photo
.texte-sandrine-2 {
  padding-top: 25px;
  padding-right: 45px;
  padding-left: 25px;
  padding-bottom: 45px;
  color: white;
  position: relative;
  top: 570px;
  z-index: 5;
  cursor: pointer;
  opacity: 0.7;
}

.texte-sandrine-2:hover {
  border: 1px solid $sable;
  opacity: 0.9;
}








.photo-cadre-1 {
  background-color: $mauve;
  background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 20%, rgba(15, 21, 21, 0.42) 70%), image-url('fruit-salad.jpg');
  background-size: cover !important;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   background-position: center;
  height: 150px;
  opacity: 0.7;

}
.photo-cadre-1:hover {
  opacity: 1
}

.photo-cadre-2 {
  background-color: $mauve;
  background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 20%, rgba(15, 21, 21, 0.42) 70%), image-url('sandrine-on-a-frog.jpg');
  background-size: cover !important;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   background-position: center;
  height: 150px;
  opacity: 0.7;

}

.photo-cadre-3 {
  background-color: $mauve;
  background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 20%, rgba(15, 21, 21, 0.42) 70%), image-url('sandrine-yoga-on-rocks.jpg');
  background-size: cover !important;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   background-position: center;
  height: 150px;
  opacity: 0.7;


}

.photo-cadre-4 {
  background-color: $mauve;
  background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 20%, rgba(15, 21, 21, 0.42) 70%), image-url('sandrine-and-friends.jpg');
  background-size: cover !important;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   background-position: center;
  height: 150px;
  opacity: 0.7;

}

.unpad-1 {
  padding-right: 0px !important;
  padding-left: 0px !important;
  border: 1px solid $sable;
}
.unpad-2 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  border: 1px solid $sable;
}
.unpad-3 {
  padding-right: 0px !important;
  position: relative;
  bottom: 60px;

}
.unpad-4 {
  padding-left: 0px !important;
  padding-right: 15px !important;
  position: relative;
  bottom: 60px;
}
.black-it {
  background-color: black;
}

.transpa {
  background-color: transparent;
  background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 20%, rgba(15, 21, 21, 0.42) 70%), image-url('bridge2.jpg');
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
     //added effects for banner parallax
     // background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 70vh;
     color: white;
     padding: 100px 50px;
   }

   .quadrado {

   }

   .texte-sandrine-3 {
  // padding-top: 25px;
  // padding-right: 45px;
  // padding-left: 25px;
  // padding-bottom: 45px;
  position: relative;
  top: 400px;
  left: 200px;
  color: white;
  // background-color: white;
  // border-radius: 10px;
  // box-shadow: 3px 3px 2px #888888;
  opacity: 1;
  // border: 1px solid $sable;
  z-index: 4;
}

.case-01 {
  background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.28) 20%, rgba(12, 15, 15, 0.7) 70%), url('relation2.jpg');
}
.case-02 {
  background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.28) 20%, rgba(12, 15, 15, 0.7) 70%), url('body-health1.jpg');
}
.case-03 {
  background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.28) 20%, rgba(12, 15, 15, 0.7) 70%), url('nutrition.jpg');
}
.case-04 {
  background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.28) 20%, rgba(12, 15, 15, 0.7) 70%), url('self-esteem.jpg');
}


.case-1 {
  position: relative;
  right: 23px;
  padding-top: 10px;
  height: 50vh;
  width: 50vw;
  background-color: #b98ea7;
  color: white;
  background-size: cover !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-position: center;
  h4 .modal {
    padding: 50px;
    opacity: 0;
  }
  h4:hover {
    opacity: 0.7;
  }
  a {
    color: white;
    text-decoration: none;
    opacity: 0;
    padding: 50px;
    cursor: pointer;
  }
  a:hover {
    color: white;
    text-decoration: none;
    opacity: 0.7;
    font-size: 20px;
  }
}
.case-11 {
  background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.28) 20%, rgba(12, 15, 15, 0.7) 70%), url('relation2.jpg');
  position: relative;
  right: 15px;
  padding-top: 10px;
  height: 70vh;
  width: 70vw;
  // background-color: $mauve;
  color: white;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}
.case-12 {
  background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.28) 20%, rgba(12, 15, 15, 0.7) 70%), url('body-health1.jpg');
  position: relative;
  right: 15px;
  padding-top: 10px;
  height: 70vh;
  width: 70vw;
  // background-color: $mauve;
  color: white;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}
.case-13 {
  background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.28) 20%, rgba(12, 15, 15, 0.7) 70%), url('nutrition.jpg');
  position: relative;
  right: 15px;
  padding-top: 10px;
  height: 70vh;
  width: 70vw;
  // background-color: $mauve;
  color: white;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}
.case-14 {
  background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.28) 20%, rgba(12, 15, 15, 0.7) 70%), url('self-esteem.jpg');
  position: relative;
  right: 15px;
  padding-top: 10px;
  height: 70vh;
  width: 70vw;
  // background-color: $mauve;
  color: white;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}
.btn-modal a {
  opacity: 0;
  padding: 50px;
  color: white;
  text-decoration: none;
  border: 0 none;
}

.btn-modal:hover {
  opacity: 1;
}

.modal-body {
  width: 60vw;
  border: none;
}

.case-2 {
 position: relative;
 right: 15px;
 padding-top: 10px;
 height: 50vh;
 width: 50vw;
 background-color: $mauve;
 cursor: pointer;

 color: white;
 background-size: cover !important;
 display: flex;
 align-items: center;
 justify-content: center;
 background-position: center;
 h4 {
  padding: 50px;
  opacity: 0;
}
h4:hover {
  opacity: 0.7;
}
}
.case-3 {
 position: relative;
 right: 15px;
 padding-top: 10px;
 height: 50vh;
 width: 50vw;
 background-color: $mauve;
 cursor: pointer;

 color: white;
 background-size: cover !important;
 display: flex;
 align-items: center;
 justify-content: center;
 background-position: center;
 h4 {
  padding: 50px;
  opacity: 0;
}
h4:hover {
  opacity: 0.7;
}
}
.case-4 {
 position: relative;
 right: 15px;
 padding-top: 10px;
 height: 50vh;
 width: 50vw;
 background-color: $mauve;
 cursor: pointer;

 color: white;
 background-size: cover !important;
 display: flex;
 align-items: center;
 justify-content: center;
 background-position: center;
 h4 {
  padding: 50px;
  opacity: 0;
}
h4:hover {
  opacity: 0.7;
}
}

// .case:hover {
//   opacity: 1;
//   transition-delay: 0.3s;
// }




#my-name-is {
  background-color: rgba(280, 280, 280, 0.8);
}

#the-why {

  position: relative;
}
// Img id # second-floor //

#the-number-four img {
  max-width: 100%;
}

//** A BOUGER, VARIABLES BOOTSTRAP **//



.why {
 background-color: $mauve;
 padding: 8px;
 min-width: 100%;
 min-height: 100vh;
 display: flex;
 align-items: center;
 background-position: center;
    // justify-content: center;
 // border-radius: 5px;
 // margin: 5px;
}

.no-padding {
  padding: 0 !important;
}

#my-row {
  display: table;
  height:20%;
  width: 100%;
  margin: 0;
}

.description {
  background-color: pink;
  border-radius: 5px;
  padding: 10px;
  // margin: 10px;
}
.newclass {
  // background-color: rgb(247, 226, 227);
  color: white;
  border-radius: 1px;
  border: solid 1px $rose;
  // box-shadow: 3px 3px 2px grey;
  padding-bottom: 20px;
  padding-top: 20px;
}


/* Sections Common
--------------------------------*/
.section-title {
  font-size: 32px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: $mauve;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Testimonials Section
--------------------------------*/
#testimonials {
  background: $mauve;
  padding: 80px 0;

  .profile {
    text-align: center;

    .pic {
      border-radius:2%;
      // border:6px solid #fff;
      margin-bottom: 15px;
      overflow: hidden;
      height: auto;
      width: 260px;

      img {
        max-width: 100%;
      }

    }

    h4 {
      font-weight: 700;
      color: $rose;
      margin-bottom: 5px;
    }

    span {
      color: $gris;
    }

  }


  .quote {
    position:relative;
    background:#fff;
    padding: 60px;
    margin-top: 40px;
    font-size: 16px;
    font-style: italic;
    border-radius: 5px;
    color: $gris;

    b {
      display: inline-block;
      font-size: 22px;
      left: -9px;
      position: relative;
      top: -8px;
    }

    small{
     display: inline-block;
     right: -9px;
     position: relative;
     top:4px;
   }
 }

}

/* Alignement */
.alignement-texte{
  position: relative;
}

.texte-sandrine-alpha{
  position: absolute;
  top: 25%;
  color: white;
  opacity: 0.7;
  border: 1px solid #dbd3c9;
  /* max-width: 50%; */
  width: 40%;
  left: 29%;
  justify-content: right;
  align-items: center;
  text-align: center;
  min-height: 50%;
  /* height: 50%; */
  padding: 1% 1%;
}

/* Subscribe Section
--------------------------------*/
#subscribe {
  background: linear-gradient(rgba(0, 0 ,0 , .6), rgba(0, 0 ,0 , .6)), image-url('../img/subscribe-bg.jpg') fixed center center;
  background-size: cover;
  padding:  80px 0;

  .subscribe-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }

  .subscribe-text {
    color: #fff;
  }

  .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
  }

  .subscribe-btn {
    font-family: $body-font;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    &:hover {
      background: $mauve;
      border: 2px solid $mauve;
    }
  }
}

