<div id="footer">
    <div class="container">
        <div class="row">
              <div class="col-md-4">
                <center>
                  <i class="fa fa-code footer-fa fa-3x" aria-hidden="true"></i>
                  <br>
                  <h4 class="footertext">Contact</h4>
                  <p class="footertext">You can contact me anytime.<br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <i class="fa fa-css3 footer-fa fa-3x" aria-hidden="true"></i>
                  <br>
                  <h4 class="footertext">Conditions</h4>
                  <p class="footertext">Terms of use<br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <i class="fa fa-plane footer-fa fa-3x" aria-hidden="true"></i>
                  <br>
                  <h4 class="footertext">Make it happen!</h4>
                  <p class="footertext">Subscribe to our newsletter<br>
                </center>
              </div>
            </div>
            <div class="row">
            <center><p class="footertext">Copyright 2017 Sandrine Loiret</p></center>
            <div class="credits">
              Yoga Wellness graphic by <a href="https://thenounproject.com/leremy">tnp_leremy</a> from <a href="https://thenounproject.com/">TheNounProject</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Check out the new logo that I created on <a href="http://logomakr.com" title="Logo Maker">LogoMaker.com</a> https://logomakr.com/2xyQTJ2xyQTJ
            </div>
        </div>
    </div>
</div>
