<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.68) 70%, rgba(12, 15, 15, 0.5) 40%); height: 100vh; background: url('<%= image_path ('living-room.jpg')%>'); background-size: cover;">


<div class="banner-content text-center parallax" style="color:white">
<br>
<br>
  <h2>Sandrine Loiret</h2>



  </div>
 </div>
  <%= image_tag "all-pictures.png" %>

