<div class="container-fluid no-padding"> <!-- Container principal, j'ai viré le padding d'origine de bootstrap -->
  <div class="banner">
    <div class="banner-content text-center parallax">
      <br>
      <br>
      <h1>
        <svg class="arrows">
          <path class="a1" d="M0 0 L30 32 L60 0"></path>
          <path class="a2" d="M0 20 L30 52 L60 20"></path>
          <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
      </h1>
    </div>
  </div>
  <div class="banner-parallax-1" id="sandrine-text">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="texte-sandrine">
          <h3 >Dear visitors, Welcome</h3>
          <br>
          <h5>"Kindness is always fashionable, and always welcome." </h5> <br><p>Amelia Barr</p>
        </div>
      </div>
    </div>
  </div>
  <div id="the-number-four" class="container-fluid">
    <div class="row transpa">
      <div class="col-md-5 unpad-3">
      <div class="col-md-6 unpad-1">
        <div class="photo-cadre-1">
        </div>
      </div>
      <div class="col-md-6 unpad-2">
        <div class="photo-cadre-2">
        </div>
      </div>
      <div class="col-md-6 unpad-1">
        <div class="photo-cadre-3">
        </div>
      </div>
      <div class="col-md-6 unpad-2">
        <div class="photo-cadre-4">
        </div>
      </div>
      </div>
      <div class="col-md-7 unpad-4 text-right">
        <div class="texte-sandrine-2">
          <h3>Je m'appelle Sandrine</h3>
          <br>
          <p>Mon approche est intégrative et s'appuie sur les concepts psychanalytique mais surtout sur des méthodes qui prennent en compte le corps et l esprit et par ce biais l expression des émotions les plus forte fortes. Celles qui empêchent de se sentir libre et heureux. Ma pratique s appuie sur différentes Methodes qui me permettent de m adapter à chacun comme : la Bioénergie (le corps et l esprit), l Art thérapie (approche d une médiation), le Psychodrame (la mise en jeu du Je et du corps). La thérapie que je propose permet de développer une sécurité interne suffisante pour ne plus se sentir entraver et pour avancer. Elle permet de découvrir la richesse de sa personnalité.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="the-number-four" class="container-fluid">
    <div class="row transpa">
      <div class="col-xs-12 col-md-6 unpad-4 text-center">
        <div class="texte-sandrine-2">
          <h3>"Je m'appelle Sandrine"</h3>
          <br>
          <p>J'ai suivi la formation de psychanalyste/psychothérapeute intégratif à la Nouvelle Faculté Libre à Paris. J'ai donc une approche dite Intégrative fondée sur la phénoménologie et l existentialisme une approche dite humaniste-existentielle. La thérapie que je propose consiste à consolider la capacité de chacun à exprimer ses difficultés, repérer ses blocages, ce qui nous empêche de vivre librement en trouvant ses propres solutions en développant des changements qui nous permettent de faire nos choix, vos choix.

            La psychothérapie que je propose est basée sur l'écoute, la bienveillance... J'utilise au sein des séances et en fonction de chacun les registres dû psychique,mental, corporel, physique et émotionnel. Je peux en fonction de la recherche du patient et pour l aider à dépasser certaines peurs m appuyer sur : l'Art thérapie, la bioénergie, le psychodrame, l'analyse transactionnelle...</p>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-parallax-2">
    <div>
     <h4 class="text-center">"I've learned that people will forget what you said,people will forget what you did, <br>but people will never forget how you madethem feel."</h4><br>
     <p class="text-center">Maya Angelou</p>
    </div>
  </div>
  <div id="the-why" class="container-fluid">
    <div class="row">
      <div class="why text-center">
        <div class="col-xs-12 col-md-3 col-md-offset-2">
          <div class="newclass">
            <h3>What I do</h3>
              Being happy
            <br>
            <br>
            <i class="fa fa-question-circle fa-3x" aria-hidden="true"></i>
            <br>
            <br>
            <div class="btn btn-primary btn-lg">Read more
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 col-md-offset-2">
          <div class="newclass">
            <h3>What I offer you </h3>
                A way to be happy
            <br>
            <br>
            <i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>
            <br>
            <br>
            <div class="btn btn-primary btn-lg">Contact me
            </div>
          </div>
        </div>
        <br><br>
      </div>
    </div>
  </div>
  <!--==========================
    Testimonials Section
    ============================-->
  <section id="testimonials">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Ils ont aimé:</h3>
            <div class="section-title-divider">
            </div>
              <p class="section-description"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><%= image_tag "blind.jpg" %>
            </div>
            <h4>Saul Goodman</h4>
            <span>Lawless Inc</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b><img src="img/quote_sign_left.png" alt=""></b> Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <small><img src="img/quote_sign_right.png" alt=""></small>
           </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="quote">
            <b><img src="img/quote_sign_left.png" alt=""></b> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto beatae. <small><img src="img/quote_sign_right.png" alt=""></small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><%= image_tag "sandrine-yoga-on-rocks.jpg" %>
            </div>
            <h4>Sara Parker</h4>
            <span>S.City</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Free Stuff</h3>
          <p class="subscribe-text">Please, feel free to download</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="#">Download</a>
        </div>
      </div>
    </div>
  </section>
  <div class="banner-parallax-3">
  </div>

  <!--   <div id="seventh-floor" class="container-fluid">
      <div class="row text-center">
        <br><h3> #10 photo galerie</h3>
      </div>
    </div> -->
</div>


