


<!-- <div class="container" style="min-height: 100%; min-width: 100%"> -->
<div class="container-fluid no-padding"> <!-- Container principal, j'ai viré le padding d'origine de bootstrap -->
  <div class="banner">

    <div class="banner-content text-center parallax">
      <br>
      <br>

      <h1>  <%= link_to("Try me","/#sandrine-text", class: "btn btn-info btn-lg") %></h1>
    </div>
    <!--  <a href="texte-sandrine"> <i class="fa fa-arrow-down fa-5x" aria-hidden="true"></i></a> -->
  </div>
<!-- <div class="row-black">
  <br>
  <br>
</div> -->
<div class="banner-parallax-1" id="sandrine-text">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="texte-sandrine">
        <h3 >Dear visitors, Welcome</h3>
        <br>
        <h5>"Kindness is always fashionable, and always welcome." </h5> <br><p>Amelia Barr</p>
      </div>
    </div>
  </div>
</div>

<div id="the-number-four" class="container-fluid">

  <div class="row text-center transpa">

   <div class="col-xs-12 col-md-4 col-md-offset-7">
    <div class="texte-sandrine ">
      <h3>Je m'appelle Sandrine</h3>
      <br>
      <p>super je m appelle sandrine je raconte ma vie tout ca. super je m appelle sandrine je raconte ma vie tout ca. super je m appelle sandrine je raconte ma vie tout ca. super je m appelle sandrine je raconte ma vie tout ca. super je m appelle sandrine je raconte ma vie tout ca. super je m appelle sandrine je raconte ma vie tout ca. super je m appelle sandrine je raconte ma vie tout ca. super je m appelle sandrine je raconte ma vie tout ca. uper je m appelle sandrine je raconte ma vie tout ca. super je m appelle sandrine je raconte ma vie tout ca. super je m appelle sandrine je raconte ma vie tout ca. super je m appelle sandrine je raconte ma vie tout ca. super je m appelle sandrine je raconte ma vie tout ca. super je m appelle sandrine je raconte ma vie tout ca. </p>
    </div>

  </div>
</div>
</div>
   <!--  <div class="black-it">
      <br>
    </div> -->

    <div class="banner-parallax-2">
      <div>
        <h4 class="text-center">"I've learned that people will forget what you said, people will forget what you did, <br>but people will never forget how you made them feel."</h4><br>
        <p>Maya Angelou</p>
      </div>
    </div>


    <div id="the-why" class="container-fluid">
      <div class="row">
        <div class="why text-center">
          <div class="col-xs-12 col-md-3 col-md-offset-2">
            <div class="newclass">
              <h3>What I do</h3>
              Being happy
              <br>
              <br>
              <i class="fa fa-question-circle fa-3x" aria-hidden="true"></i>
              <br>
              <br>
              <div class="btn btn-info">Read more</div>
            </div>
          </div>
          <div class="col-xs-12 col-md-3 col-md-offset-2">
            <div class="newclass">
              <h3>What I offer you </h3>
              A way to be happy
              <br>
              <br>
              <i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>
              <br>
              <br>
              <div class="btn btn-info">Contact me</div>
            </div>
          </div>
          <br><br>
        </div>
      </div>
    </div>

  <div id="seventh-floor" class="container-fluid">
    <div class="row text-center">
      <br><h3> #7 Testimonials</h3>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="description">
          <h3>wonderful</h3>
          <p>blabla super</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="description">
          <h3>wonderful</h3>
          <p>blabla super</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="description">
          <h3>wonderful</h3>
          <p>blabla super</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="description">
          <h3>wonderful</h3>
          <p>blabla super</p>
        </div>
      </div>

    </div>
    <div class="row text-center testimon">
    <div class="col-xs-12 col-md-3"><div class="photo-testimon"></div></div>
    <div class="col-xs-12 col-md-9"><div class="text-testimon"><h3>Hi</h3></div></div>
    </div>
</div>
<div id="height-floor" class="container-fluid">
  <div class="row text-center">
    <br><h3> #8 free stuff</h3>
    <p>please download my free stuff</p>
    <div class="btn btn-info">download</div>
  </div>
</div>
<div class="banner-parallax-3">
  <h2>parallax #3</h2>
</div>
<div id="seventh-floor" class="container-fluid">
  <div class="row text-center">
    <br><h3> #10 photo galerie</h3>
  </div>
</div>
</div>


