<div class="container">
  <div class="row-eq-height">
    <div class="col-md-3 text-center">
      <div class="case-1 case-01">
        <%= link_to "Relation", "#my-modal", :class => "btn-modal", "data-toggle" => "modal" %>
        <div class="modal modal-link fade case-11" id="my-modal" title="My modal">
          <div class="modal-header">
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
            <h3 id="myModalLabel">Relation</h3>
          </div>
          <div class="modal-body">
          J'ai suivi la formation de psychanalyste/psychothérapeute intégratif à la Nouvelle Faculté Libre à Paris. J'ai donc une approche dite Intégrative fondée sur la phénoménologie et l existentialisme une approche dite humaniste-existentielle. La thérapie que je propose consiste à consolider la capacité de chacun à exprimer ses difficultés, repérer ses blocages, ce qui nous empêche de vivre librement en trouvant ses propres solutions en développant des changements qui nous permettent de faire nos choix, vos choix. La psychothérapie que je propose est basée sur l'écoute, la bienveillance... J'utilise au sein des séances et en fonction de chacun les registres dû psychique,mental, corporel, physique et émotionnel. Je peux en fonction de la recherche du patient et pour l aider à dépasser certaines peurs m appuyer sur : l'Art thérapie, la bioénergie, le psychodrame, l'analyse transactionnelle...
          </div>
          <div class="modal-footer">
          <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 text-center">
    <div class="case-1 case-02">
        <%= link_to "Body-health", "#my-modal", :class => "btn-modal", "data-toggle" => "modal" %>
      <div class="modal modal-link fade case-12" id="my-modal" title="My modal">
        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
          <h3 id="myModalLabel">Body-health</h3>
        </div>
        <div class="modal-body">
         J'ai suivi la formation de psychanalyste/psychothérapeute intégratif à la Nouvelle Faculté Libre à Paris. J'ai donc une approche dite Intégrative fondée sur la phénoménologie et l existentialisme une approche dite humaniste-existentielle. La thérapie que je propose consiste à consolider la capacité de chacun à exprimer ses difficultés, repérer ses blocages, ce qui nous empêche de vivre librement en trouvant ses propres solutions en développant des changements qui nous permettent de faire nos choix, vos choix. La psychothérapie que je propose est basée sur l'écoute, la bienveillance... J'utilise au sein des séances et en fonction de chacun les registres dû psychique,mental, corporel, physique et émotionnel. Je peux en fonction de la recherche du patient et pour l aider à dépasser certaines peurs m appuyer sur : l'Art thérapie, la bioénergie, le psychodrame, l'analyse transactionnelle...
        </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="case-1 case-03">
        <%= link_to "Nutrition", "#my-modal", :class => "btn-modal", "data-toggle" => "modal" %>
        <div class="modal modal-link fade case-13" id="my-modal" title="My modal">
          <div class="modal-header">
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
            <h3 id="myModalLabel">Nutrition</h3>
          </div>
          <div class="modal-body">
           J'ai suivi la formation de psychanalyste/psychothérapeute intégratif à la Nouvelle Faculté Libre à Paris. J'ai donc une approche dite Intégrative fondée sur la phénoménologie et l existentialisme une approche dite humaniste-existentielle. La thérapie que je propose consiste à consolider la capacité de chacun à exprimer ses difficultés, repérer ses blocages, ce qui nous empêche de vivre librement en trouvant ses propres solutions en développant des changements qui nous permettent de faire nos choix, vos choix. La psychothérapie que je propose est basée sur l'écoute, la bienveillance... J'utilise au sein des séances et en fonction de chacun les registres dû psychique,mental, corporel, physique et émotionnel. Je peux en fonction de la recherche du patient et pour l aider à dépasser certaines peurs m appuyer sur : l'Art thérapie, la bioénergie, le psychodrame, l'analyse transactionnelle...
          </div>
          <div class="modal-footer">
            <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 text-center">
        <%= link_to "Self-Esteem", "#my-modal", :class => "btn-modal", "data-toggle" => "modal" %>
        <div class="modal modal-link fade case-14" id="my-modal" title="My modal">
          <div class="modal-header">
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
            <h3 id="myModalLabel">Self-Esteem</h3>
          </div>
          <div class="modal-body">
           J'ai suivi la formation de psychanalyste/psychothérapeute intégratif à la Nouvelle Faculté Libre à Paris. J'ai donc une approche dite Intégrative fondée sur la phénoménologie et l existentialisme une approche dite humaniste-existentielle. La thérapie que je propose consiste à consolider la capacité de chacun à exprimer ses difficultés, repérer ses blocages, ce qui nous empêche de vivre librement en trouvant ses propres solutions en développant des changements qui nous permettent de faire nos choix, vos choix. La psychothérapie que je propose est basée sur l'écoute, la bienveillance... J'utilise au sein des séances et en fonction de chacun les registres dû psychique,mental, corporel, physique et émotionnel. Je peux en fonction de la recherche du patient et pour l aider à dépasser certaines peurs m appuyer sur : l'Art thérapie, la bioénergie, le psychodrame, l'analyse transactionnelle...
          </div>
          <div class="modal-footer">
            <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="textz">
  <div class="row text-center hidden-xs hidden-sm">
      <div class="texte-sandrine-2 hidden-xs hidden-sm">
        <h3>"Je m'appelle Sandrine"</h3>
        <br>
        <p>J'ai suivi la formation de psychanalyste/psychothérapeute intégratif à la Nouvelle Faculté Libre à Paris. J'ai donc une approche dite Intégrative fondée sur la phénoménologie et l existentialisme une approche dite humaniste-existentielle. La thérapie que je propose consiste à consolider la capacité de chacun à exprimer ses difficultés, repérer ses blocages, ce qui nous empêche de vivre librement en trouvant ses propres solutions en développant des changements qui nous permettent de faire nos choix, vos choix.
        La psychothérapie que je propose est basée sur l'écoute, la bienveillance... J'utilise au sein des séances et en fonction de chacun les registres dû psychique,mental, corporel, physique et émotionnel. Je peux en fonction de la recherche du patient et pour l aider à dépasser certaines peurs m appuyer sur : l'Art thérapie, la bioénergie, le psychodrame, l'analyse transactionnelle...</p>


  </div>
  </div>
</div>
