/* Main navbar */

// .disappear{
//   display: none;
// }

.title {
  float: left;
  animation-delay: 2s;
}

.navbar-kachinah {
  // box-shadow: 1px 1px 5px 1px rgba(0,6,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // background: $mauve;
  background: transparent;
  transition: all 0.3s ease;
  height: 70px;
  padding: 45px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  color: white;
  z-index: 5;
  opacity: 0;

}

.navbar-kachinah:hover {
  opacity: 0.8 !important;
  // background-color: $footer !important;
  background-color: #666 !important;
}

/* Logo */
.navbar-kachinah-brand img {
  height: 50px;
  cursor: pointer;
}

/* User Avatar */
.navbar-kachinah .avatar {
  height: 35px;
  width: 35px;
  border-radius: 0%;
}

/* Right section */
.navbar-kachinah-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  right: 10%;
}
.wesh-right {
  position: fixed;
 right: 3vw;
}


/* Basic navbar item */
.navbar-kachinah-item {
  cursor: pointer;
  padding: 0 20px;
    font-family: 'Fira Sans', 'sans-serif';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.25em;
        line-height: 80px;
}

.navbar-kachinah-item {
}

.dropdown-toggle {
  position: relative;
}

/* Navbar link */
.navbar-kachinah-link {
  color: white;
  // font-size: 18px;
  text-decoration: none;
}
.navbar-kachinah-link:hover {
   // transition: all 0.9s ease-out;
  color: $bleu;
   text-decoration: none;
}


//soulignement apparaissant du centre
.navbar-kachinah-link {
    display: inline-block;
    position: relative;
    // padding-bottom: 3px;
}
.navbar-kachinah-link:after {
    display: block;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width 0.8s ease, background-color 0.5s ease;
    margin: auto;
    content: '';
    position: relative;
    top: -30px;
}
.navbar-kachinah-link:hover:after {
    width: 100%;
    background: $bleu;
}


/* Dropdown menu */

.fa-bars:hover {
  // height: 60px !important;
  // width: 20px !important;
  transform: rotate(45deg);
  opacity: 1;
  content: 'sss';
}

.fa-times:hover {
  // height: 60px !important;
  // width: 20px !important;
  // transform: rotate(45deg);
}
.dropdown-menu {

}
.dropdown-menu-right {
  background-color: #666 !important;
  width: 25vw;
  height: 80vh;
}


.navbar-kachinah-dropdown-menu {
  margin-top: 15px;
  // box-shadow: 1px 1px 4px #E6E6E6;
  // background-color: transparent !important;
  // border-color: #E6E6E6;
}
.navbar-kachinah-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: white !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
  // background-color: $footer !important;
}
// .navbar-kachinah-dropdown-menu li > a:hover {
//   background: transparent !important;
//   color: black !important;
// }
.navbar-kachinah-dropdown-menu:before {
  content: ' ';
  height: 10px;
  // background-color: $footer !important;
  width: 10px;
  position: relative;
  top: -6px;
  transform: rotate(45deg);
  border-left: 1px solid #666;
  border-top: 1px solid #666;
}


.banner-4 {


    /* if you have a 70px navbar => height: calc(100vh - 70px); */

    background-size: cover !important;
    // display: flex;
    // align-items: center;
    // background-position: center;
     //added effects for banner parallax
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     height: 58vh;
     position: relative;
     bottom: 25px;
     padding: 20px;
   }
   // .banner-5 {
   //  // background-color: $mauve;

   //  /* if you have a 70px navbar => height: calc(100vh - 70px); */
   //  background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.78) 20%, rgba(112, 115, 115, 0.7) 70%), url('blind.jpg');
   //  background-size: cover !important;
   //  display: flex;
   //  align-items: center;
   //  justify-content: center;
   //  background-position: center;
   //   //added effects for banner parallax
   //   background-attachment: fixed;
   //   background-position: center;
   //   background-repeat: no-repeat;
   //   background-size: cover;
   //   height: 30vh;
   //   position: relative;
   //   top: -25px;
   // }

   * {
     margin: 0;
     padding: 0;
   }

   /* Icon 0 */
// TEST //
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #b98ea7;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}


.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

// .a1 svg {
//   width:100%;
//   height: auto;
// }
.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
svg {
  width:100%;
  height: auto;
}
}

//sidebar
